@model ViewModel

@{ ViewData["Title"] = "Home Page"; }


<div class="container-fluid homeheader" >
    <div class="row">
        <div class="col">
            <h1>Diary Contents</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="dropdown col text-center">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort Topics by</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" onclick="sortTopics('Title')">Title</a>
                <a class="dropdown-item" onclick="sortTopics('Desc')">Description</a>
                <a class="dropdown-item" onclick="sortTopics('Source')">Source</a>
                <a class="dropdown-item" onclick="sortTopics('TSpent')">Time spent</a>
                <a class="dropdown-item" onclick="sortTopics('TMaster')">Time to master</a>
                <a class="dropdown-item" onclick="sortTopics('Prog')">Progress</a>
                <a class="dropdown-item" onclick="sortTopics('SDate')">Start date</a>
                <a class="dropdown-item" onclick="sortTopics('CDate')">Completion date</a>
            </div>
        </div>
        <div class="dropdown col">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" onclick="searchTopic()">Search Topic</a> @*js function that makes popup that gives options then the function hides all else but search results and gives message if not found also add "reset search" button to top*@
                <a class="dropdown-item" onclick="searchTask()">Search Task</a> @*js function that makes popup that gives options then the function hides all else but search results and gives message if not found also add "reset search" button to top*@
                <a class="dropdown-item" onclick="searchNote()">Search Note</a> @*js function that makes popup that gives options then the function hides all else but search results and gives message if not found also add "reset search" button to top*@
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-center" id="addTopic">
        <a class="btn btn-secondary addButt" id="topiButt" type="button" asp-area="" asp-controller="Topics" asp-action="Create">+Topic</a>
    </div>
</div>

<div id="allTop">
    @if (Model != null)
    {
        foreach (Topic item in Model.Topics)
        {
            <div class="container topic" id="topicList">
                <div class="row">
                    <div class="col">
                        <a class="btn btn-secondary addButt" id="tasButt" asp-area="" asp-controller="Tasks" asp-action="Create" asp-route-id="@item.Id">+Task</a>
                    </div>
                    <div class="col text-right">
                        <a asp-area="" asp-controller="Topics" asp-action="Edit" asp-route-id="@item.Id"><img src="~/pen-to-square-solid.svg" height="18" /></a>
                        <a asp-area="" asp-controller="Topics" asp-action="Delete" asp-route-id="@item.Id" style="margin-left: .5em;"><img src="~/trash-can-solid.svg" height="17" /></a>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <h2>@item.Title</h2>
                        </div>
                        <div class="col">
                            <span>Description: </span><span id="ToDesc">@item.Description</span>
                        </div>
                        <div class="col">
                            <span>Source: </span><span id="ToSource">@item.Source</span>
                        </div>
                        <div class="col">
                            <span>In progress: </span><span id="ToProg">@item.InProgress</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span>Time estimate: </span><span id="ToTMaster">@item.TimeToMaster</span>
                        </div>
                        <div class="col">
                            <span>Time spent: </span><span id="ToTSpent">@item.TimeSpent</span>
                        </div>
                        <div class="col">
                            <span>Started on: </span><span id="ToSDate">@item.StartLearningDate</span>
                        </div>
                        <div class="col">
                            <span>Completed on: </span><span id="ToCDate">@item.CompletionDate</span>
                        </div>
                    </div>
                </div>
                @foreach (var item2 in item.Tasks)
                {
                    <div class="container task">
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-secondary addButt" id="notButt" asp-area="" asp-controller="Notes" asp-action="Create" asp-route-id="@item2.Id">+Note</a>
                            </div>
                            <div class="col text-right">
                                <a asp-area="" asp-controller="Tasks" asp-action="Edit" asp-route-id="@item2.Id"><img src="~/pen-to-square-solid.svg" height="18" /></a>
                                <a asp-area="" asp-controller="Tasks" asp-action="Delete" asp-route-id="@item2.Id" style="margin-left: .5em;"><img src="~/trash-can-solid.svg" height="17" /></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3>@item2.Title</h3>
                            </div>
                            <div class="col">
                                <span>Description: </span><span id="TaDesc">@item2.Description</span>
                            </div>
                            <div class="col">
                                <span>Deadline: </span><span id="TaDead">@item2.Deadline</span>
                            </div>
                            <div class="col">
                                <span>Priority: </span><span id="TaPrio">@item2.Priority</span>
                            </div>
                            <div class="col">
                                <span>Done: </span><span id="TaDone">@item2.Done</span>
                            </div>
                        </div>
                        <div class="row">
                            @foreach (var item3 in item2.Notes)
                            {
                                <div class="col-5 note">
                                    <div class="text-right">
                                        <a asp-area="" asp-controller="Notes" asp-action="Edit" asp-route-id="@item3.Id"><img src="~/pen-to-square-solid.svg" height="18" /></a>
                                        <a asp-area="" asp-controller="Notes" asp-action="Delete" asp-route-id="@item3.Id" style="margin-left: .5em;"><img src="~/trash-can-solid.svg" height="17" /></a>
                                    </div>
                                    <h4 style="display: inline;">@item3.Title</h4>
                                    <p id="nCont">@item3.Note1</p>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    }
    else
    {
        <div class="container" id="missingMesg">
            <div class="row">
                <div class="col text-center">
                    <h2 class="missing">Diary is empty/missing :(</h2>
                </div>
            </div>
        </div>
    }
</div>
<br>
<script>
    var smallInfoList = document.getElementsByTagName('span');

    for (var i = 0; i < smallInfoList.length; i++) {
        if (smallInfoList[i].innerText == "") {
            smallInfoList[i].innerText = "ø";
        }
    }
</script>


