@model ViewModel

@{ ViewData["Title"] = "Home Page"; }

<div class="container-fluid homeheader">
    <div class="row">
        <div class="col">
            <h1>Diary Contents</h1>
        </div>
    </div>
    <div class="row">
        <div class="dropdown col text-center">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort Topics by</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Start date</a>
                <a class="dropdown-item" href="#">Title</a>
                <a class="dropdown-item" href="#">Completion date</a>
            </div>
        </div>
    </div>
</div>

@if (Model != null)
{
    foreach (Topic item in Model.Topics)
    {
        <div class="container topic">
            <div class="container topicheaders">
                <div class="row">
                    <div class="col-2">
                        <h2>@item.Title</h2>
                    </div>
                    <div class="col">
                        <p>Description: @item.Description</p>
                    </div>
                    <div class="col">
                        <p>TimeToMaster: @item.TimeToMaster</p>
                    </div>
                    <div class="col">
                        <p>TimeSpent: @item.TimeSpent)</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <p>Source: @item.Source</p>
                    </div>
                    <div class="col">
                        <p>StartLearningDate: @item.StartLearningDate</p>
                    </div>
                    <div class="col">
                        <p>InProgress: @item.InProgress</p>
                    </div>
                    @if (item.InProgress == false)
                    {
                        <div class="col">
                            <p>CompletionDate: @item.CompletionDate</p>
                        </div>
                    }
                </div>
            </div>
            @foreach (var item2 in item.Tasks)
            {
        <div class="container task">
            <div class="row">
                <div class="col">
                    <h3>@item2.Title</h3>
                </div>
                <div class="col">
                    <p>Description: @item2.Description</p>
                </div>
                <div class="col">
                    <p>Deadline: @item2.Deadline</p>
                </div>
                <div class="col">
                    <p>Priority: @item2.Priority</p>
                </div>
                <div class="col">
                    <p>Done: @item2.Done</p>
                </div>
            </div>
                <div class="row">
                    @foreach (var item3 in item2.Notes)
                    {
                            <div class="col-5 note">
                                <h4>@item3.Title</h4>
                                <p>@item3.Note1</p>
                            </div>
                    }
                </div>
            </div>
            }
        </div>
    }
}
else
{
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="missing">Diary is empty/missing :(</h2>
            </div>
        </div>
    </div>
}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <p> </p>
    </div>
</div>


