@model ViewModel

@{ ViewData["Title"] = "Home Page"; }

<div class="container-fluid homeheader" >
    <div class="row">
        <div class="col">
            <h1>Diary Contents</h1>
        </div>
    </div>
    <div class="row">
        <div class="dropdown col text-center">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort Topics by</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" onclick="sortTopics(Title)">Title</a>
                <a class="dropdown-item" onclick="sortTopics(TSpent)">Time spent</a>
                <a class="dropdown-item" onclick="sortTopics(TMaster)">Time to master</a>
                <a class="dropdown-item" onclick="sortTopics(Prog)">Progress</a>
                <a class="dropdown-item" onclick="sortTopics(SDate)">Start date</a>
                <a class="dropdown-item" onclick="sortTopics(CDate)">Completion date</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-center" id="addTopic">
        <a class="btn btn-secondary addButt" id="topiButt" type="button" asp-area="" asp-controller="Topics" asp-action="Create">+Topic</a>
    </div>
</div>

@if (Model != null)
{
    foreach (Topic item in Model.Topics)
    {
        <div class="container topic" id="topicList">
            <div class="row">
                <div class="col">
                    <a class="btn btn-secondary addButt" id="tasButt" asp-area="" asp-controller="Tasks" asp-action="Create"  asp-route-id="@item.Id">+Task</a>
                </div>
                <div class="col text-right">
                    <a asp-area="" asp-controller="Topics" asp-action="Edit" asp-route-id="@item.Id"><img src="~/pen-to-square-solid.svg" height="18"/></a>
                    <a asp-area="" asp-controller="Topics" asp-action="Delete" asp-route-id="@item.Id" style="margin-left: .5em;"><img src="~/trash-can-solid.svg" height="17"/></a>
                </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h2 id="itemHead">@item.Title</h2>
                        </div>
                        <div class="col">
                            <p>Description: @item.Description</p>
                        </div>
                        <div class="col">
                            <p>Source: @item.Source</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>TimeToMaster: @item.TimeToMaster</p>
                        </div>
                        <div class="col">
                            <p>TimeSpent: @item.TimeSpent</p>
                        </div>
                        <div class="col">
                            <p>StartLearningDate: @item.StartLearningDate</p>
                        </div>
                        <div class="col">
                            <p>InProgress: @item.InProgress</p>
                        </div>
                        @if (item.InProgress == false)
                        {
                            <div class="col">
                                <p>CompletionDate: @item.CompletionDate</p>
                            </div>
                        }
                    </div>
                </div>
                @foreach (var item2 in item.Tasks)
                {
                    <div class="container task">
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-secondary addButt" id="notButt" asp-area="" asp-controller="Notes" asp-action="Create">+Note</a>
                            </div>
                            <div class="col text-right">
                                <a asp-area="" asp-controller="Tasks" asp-action="Edit" asp-route-id="@item2.Id"><img src="~/pen-to-square-solid.svg" height="18" /></a>
                                <a asp-area="" asp-controller="Tasks" asp-action="Delete" asp-route-id="@item2.Id" style="margin-left: .5em;"><img src="~/trash-can-solid.svg" height="17" /></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3 id="itemHead">@item2.Title</h3>
                            </div>
                            <div class="col">
                                <p>Description: @item2.Description</p>
                            </div>
                            <div class="col">
                                <p>Deadline: @item2.Deadline</p>
                            </div>
                            <div class="col">
                                <p>Priority: @item2.Priority</p>
                            </div>
                            <div class="col">
                                <p>Done: @item2.Done</p>
                            </div>
                        </div>
                        <div class="row">
                            @foreach (var item3 in item2.Notes)
                            {
                                <div class="col-5 note">
                                    <div class="text-right">
                                        <a asp-area="" asp-controller="Notes" asp-action="Edit" asp-route-id="@item3.Id"><img src="~/pen-to-square-solid.svg" height="18" /></a>
                                        <a asp-area="" asp-controller="Notes" asp-action="Delete" asp-route-id="@item3.Id" style="margin-left: .5em;"><img src="~/trash-can-solid.svg" height="17" /></a>
                                    </div>
                                    <h4 style="display: inline;">@item3.Title</h4>
                                    <p>@item3.Note1</p>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
    }
}
else
{
    <div class="container" id="missingMesg">
        <div class="row">
            <div class="col text-center">
                <h2 class="missing">Diary is empty/missing :(</h2>
            </div>
        </div>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col"></div>
        <p> </p>
    </div>
</div>


